<div class="container">
  <h1>All Families</h1>
  <ul class="list-unstyled">
    <% @families.each do |family| %>
      <div class="card">
        <li>
          <div class="card-name">
          <h3><%= family.name %></h3>
          <%= link_to "find out more", family_path(family), class: 'card-link' %>
          </div>
          <div class="card-description">
          <%= "Capacity: #{family.capacity} persons" %>
          <%= "Price: EUR #{family.price_pppn}/person/night" %>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
</div>

