<div class="container">
  <h2>Find your bookings below</h2>
    <% @bookings.each do |booking| %>
      <p><%= booking.start_date %> </p>
      <p><%= booking.family.name %></p>
      <hr>
      <% price = booking_price(booking) %>
  <% end %>
</div>

