.grid {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}

.grid-photo {
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
  background-size: cover;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.grid-desc {
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
  text-align: justify;
  margin: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.grid-capacity {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.grid-price {
  grid-row: 1 / span 1;
  grid-column: 5 / span 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.grid-form {
  grid-row: 2 / span 3;
  grid-column: 4 / span 2;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.back {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.back a {
  color: black;
  &:hover {
    text-decoration: none;
    font-weight: 700;
  }
}

.back-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-home a {
  color: black;
  &:hover {
    text-decoration: none;
    font-weight: 700;
  }
}

.gras {
  color: $green;
}

.title {
  color: $green;
  font-weight: 700;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple_form {
  text-align: center;
  padding: 25px;
}

