<div class="banner" data-images="<%= image_path 'banner-1.jpg' %>,<%= image_path 'banner-2.jpg' %>,<%= image_path 'banner-3.jpg' %>">
  <div class="banner-content">
    <h1>We are Familive</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="container">
      <br>
      <br>
      <br>
      <%= render 'families/search_form' %>
    </div>
  </div>
</div>


