.fa-tree {
  color: #B4DC7F;
}
.fa-plane {
  color: $blue;
}

.fa-gift {
  color: $orange;
}

.fa-wine-glass {
  color: $red;
}

.fas {
  padding: 10px;
}

.fa-certificate {
  color: $green;
  font-size: 40px;
}

.fa-euro-sign {
  color: $green;
}

.fa-male {
  color: $green;
}

.fa-undo {
  color: $green;
}

.fa-circle {
  color: $green;
}
